<ion-view title="Chats">
    <ion-nav-buttons side="right">
        <button class="button icon ion-plus" ng-click="createDirectConversation()"></button>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
        <ion-list id="chats-list2">
            <ion-item class="item-icon-right"
                ng-repeat="c in conversations.directConversations"
                ng-click="goToChat(c.$transient.conversation._id)">
                {{c.$transient.conversation.title}}
                <span class="item-note" ng-if="c.unread_count">{{c.unread_count}} unread</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
