<ion-view title="Chats" id="page3">
    <ion-nav-buttons side="right">
        <button class="button icon ion-plus" ng-click="createDirectConversation()"></button>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
        <ion-list id="chats-list2">
            <ion-item class="item-icon-right"
                ng-repeat="c in conversations.directConversations"
                ui-sref="tabsController.chat({'id': c.$transient.conversation._id})">
                {{users[c.$transient.conversation.otherUserId].name}}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>