<ion-view title="{{conversation.title}}" id="page5">
    <ion-nav-buttons side="right">
        <button class="button icon ion-plus" ng-click="showInviteUserModal()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header has-message-input">
        <ion-list id="group-list3">
            <ion-item ng-repeat="m in conversations[conversation._id]" class="chat-message" ng-class="{'by-me': currentUser.id === m.createdBy, 'in-progress': m.inProgress}">
                {{m.body}}
                <h6>{{m.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}</h6>
                <h6>from {{users[m.createdBy].name}}</h6>
            </ion-item>
        </ion-list>
    </ion-content>
    <form id="group-form3" class="message-input">
        <label class="item item-input" id="group-input7">
            <input type="text" placeholder="Message" ng-model="message">
        </label>
        <button id="group-button4" class="button button-positive  button-block" ng-click="sendMessage(message)">Send</button>
    </form>
</ion-view>
