<ion-view title="Group" id="page5">
    <ion-content padding="true" class="has-header">
        <ion-list id="group-list3">
            <ion-item id="group-list-item7" class="chat-message">Group Message 1</ion-item>
            <ion-item id="group-list-item8" class="chat-message by-me">Group Message 2</ion-item>
            <ion-item id="group-list-item9" class="chat-message">Group Message 3</ion-item>
        </ion-list>
        <form id="group-form3" class="list">
            <div class="spacer" style="width: 300px; height: 22px;"></div>
            <label class="item item-input" id="group-input7">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <button id="group-button4" class="button button-positive  button-block">Send</button>
        </form>
    </ion-content>
</ion-view>