<ion-view title="Groups" id="page2">
    <ion-nav-buttons side="right">
        <button class="button icon ion-plus" ng-click="createGroup()"></button>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
        <ion-list id="groups-list1">
            <ion-item class="item-icon-right"
                ui-sref="tabsController.group({id: g.$transient.conversation._id})"
                ng-repeat="g in conversations.groupConversations">
                {{g.$transient.conversation.title}}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>