<ion-view title="Signup" id="page8">
    <ion-content padding="true" class="has-header">
        <form id="signup-form2" class="list">
            <ion-list id="signup-list6">
                <label class="item item-input" id="signup-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="" ng-model="name">
                </label>
                <label class="item item-input" id="signup-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="username">
                </label>
                <label class="item item-input" id="signup-input5">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="password">
                </label>
            </ion-list>
            <a ng-click="signup(name, username, password)" id="signup-button3" class="button button-stable  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>